.App {
  background-color: #e0e0e0;
  height: 100%; }

.Header {
  position: absoulte;
  top: 0px;
  height: 50px;
  background-color: #006400; }

.Board {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%; }

table {
  margin: 20px auto 70px auto;
  width: 100%; }

table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: center; }

th {
  padding: 15px; }

.namecell {
  padding: 5px;
  text-align: left; }

table tr:nth-child(even) {
  background-color: #eee; }

table tr:nth-child(odd) {
  background-color: #fff; }

img {
  width: 40px;
  border-radius: 5px; }

.action:hover {
  cursor: pointer; }

.logo {
  height: 37.5px;
  width: 225px;
  margin-left: 20px;
  margin-top: 5px; }
